.header-main {
  padding: 24px 0;
}
.we-help {
  margin: 160px auto 100px auto;
}
.we-help h1 {
  font-size: 70px;
}
.we-help h2::after,
.we-help h1::after {
  margin: 16px auto 0;
}
.we-help .experience {
  font-size: 40px !important;
  font-weight: 500;
  width: 100%;
}
.bottom-text {
  font-size: 32px;
  font-weight: 400;
  font-family: "Space Grotesk", sans-serif;
}
/* contact form css */
.contact-form {
  background-color: #1a1a1a;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  width: 100%;
  max-width: 659px;
  box-shadow: var(--index667083180-shadowXOffset) var(--index667083180-shadowYOffset) calc(var(--shadowBlur) * 1px) calc(var(--shadowSize) * 1px) rgba(var(--shadowColor));
  transition: all 0.3s ease;
}

.contact-form h2 {
  font-size: 28px;
  font-weight: 400;
  color: var(--secondary-color);
  margin: 0 0 30px 0;
}

.form-group {
  margin-bottom: 18px;
}
.form-group2 {
  margin-top: 10px;
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  color: var(--secondary-color);
  font-family: "Wix Madefor Display", sans-serif;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  transition: border-color 0.3s ease;
  font-size: 16px;
  font-weight: 300;
  font-family: "Wix Madefor Display", sans-serif;
}
.contact-form input[type="text"]::placeholder,
.contact-form input[type="email"]::placeholder,
.contact-form textarea::placeholder {
  color: #4f4f4f;
}
.search-container input:focus,
.search-container input:hover,
.contact-form input:hover,
.contact-form textarea:hover,
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #a7aa00;
}

.contact-form textarea {
  resize: none;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
}

.form-row {
  display: flex;
  gap: 10px 24px;
  flex-wrap: wrap;
}

.form-row .form-group {
  flex: 1;
  min-width: 45%;
}

.submit-button {
  padding: 11px 120px;
  background-color: var(--secondary-color);
  color: #000000;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

.submit-button:hover {
  background-color: var(--accent-color);
}

.phone-input-wrapper {
  position: relative;
}

.country-code-dropdown {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
  border-radius: 6px 0 0 6px;
  transition: background-color 0.3s ease;
}

.country-code-dropdown i {
  margin-left: 4px;
  color: var(--secondary-color);
  font-size: 12px;
  transition: transform 0.3s ease;
}

.country-code-dropdown.open i {
  transform: rotate(180deg);
}

.phone-input-wrapper input[type="text"] {
  padding-left: 55px;
}

.country-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--secondary-color);
  border-radius: 0 0 6px 6px;
  z-index: 999;
  display: none;
}

.country-list.open {
  display: block;
}

.country-item {
  padding: 10px 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.country-flag {
  width: 20px;
  height: 15px;
  background-size: cover;
}

.search-container {
  padding: 10px;
}

.search-container input {
  width: 100%;
  padding: 10px 10px 10px 30px !important;
  border: 1px solid #a7aa00 !important;
  color: var(--text-color) !important;
  border-radius: 5px;
  font-size: 14px;
}
@media (max-width: 650px){
  .we-help{
    margin: 50px 0;
  }
  .we-help h1 {
    font-size: 40px;
}
.we-help .experience {
  font-size: 20px !important;
  margin: 20px 0;
}
.bottom-text{
  font-size: 16px;
  margin: 0;

}
}
@media (max-width: 480px) {
  .form-row {
      flex-direction: column;
  }
}
